a {
    color: black;
}

a.nav-link{
    color:black;
}

    a.nav-link:hover {
        color: black;
    }

.navbar {
    background-color: #393A5A !important;

}

    .navbar.navbar-expand-sm.navbar-toggleable-sm.navbar-light.bg-white.border-bottom.box-shadow.mb-3 {
        margin: 10px;
        border-radius: 10px;
    }